<center><h1> Add A Movie</h1><br>
<form method = "POST" action="/movies/add">
  <h3>Title</h3><input type="text"  name="title">&nbsp;&nbsp;
  <h3>Director</h3><input type="text"  name="director">&nbsp;&nbsp;
  <h3>Year</h3><input type="text"  name="year">&nbsp;&nbsp;
  <br><br><input class="button" type="submit" value="Submit">
</form>
